/* 
.auth-container{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#f3f4f6;

}


.auth-container form{

display:flex;

flex-direction:column;

gap:15px;

background:white;

padding:30px;

border-radius:15px;

width:300px;

}


.auth-container input{

padding:12px;

border-radius:8px;

border:1px solid #ccc;

}


.auth-container button{

padding:12px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

} */

*{
    margin:0px;
    padding:0px
}